<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td>Название</td>
            <td>Цвет</td>
            <td>Скорость</td>
        </tr>
                <th:block th:each="car : ${cars}">
                    <tr>
                    <td th:text="${car.getName()}"></td>
                    <td th:text="${car.getColor()}"></td>
                    <td th:text="${car.getSpeed()}"></td>
                    </tr>
                </th:block>
    </table>
</div>
</body>
</html>